#AppContainer {
  background-color: #874C62;
  display: flex;
  align-items:center;
  justify-content: center;
  width:100vw;
  height:100vh;
}

#AppContent {
  text-align: center;
}
#heading {
  color:white;
  font-size: 2rem;
  font-weight:bold;
  padding-bottom:1rem;
}
#start {
  color:#F2D38B;
  padding-top:1rem;
  font-size: 1.5rem;
}